@use "../../../common/base.scss";

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .menu{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-row-gap: 20px;
    }
}